@import "../../styles";

.main-container {
  display: flex;
  flex-direction: row;
  padding: 0 20%;
}

.menu-container {
  order: 1;
  width: 200px;
}

.content-container {
  order: 2;
  padding: 0 20px;
  width: 100%;
}